/* Navbar */
.navbar {
  background-color: #171717;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.navbar h1 {
  color: #fff;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Body */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Autolavado section */
.autolavado {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LEDs */
.container-leds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.led {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2f2f2f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Slider */
.car-container {
  margin-top: 20px;
  background-color: #2f2f2f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider {
  height: 1px; /* Editar el grosor de la línea del slider */
}

.slider-container {
  flex: 1;
}

.slider-container input[type="range"] {
  width: 100%;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: 100px; /* Aquí ajusta el tamaño de la imagen que le pongas */
  height: 52px; /*  Tiene que ser el mismo que en la imagen original */
  background: url('../../../../assets/cars2.png'); /* Reemplazar con la imagen correcta */
  border: none;
}

.no-image::-webkit-slider-thumb,
.no-image::-moz-range-thumb {
  background: none !important;
}

/* Footer */
.footer p {
  color: #fff;
}

.footer {
  margin-top: 20px;
  background-color: #171717;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Ultrasonico */
.ultrasonico-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.ultrasonico {
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.ultrasonico-label {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: large;
}
