<main>
    <section class="autolavado">
        <div class="container">

            <!-- Indicadores de fases en el autolavado -->
            <div class="container-leds">
                <!-- Fase de lavado. Estado azul -->
                <div class="led">
                    <img id="blueLed" src="/assets/blueLedOff.jpg" width="200px">
                </div>
                <!-- Fase de enjuague. Estado verde -->
                <div class="led">
                    <img id="greenLed" src="/assets/greenLedOff.jpg" width="200px">
                </div>
                <!-- Fase de secado. Estado rojo -->
                <div class="led">
                    <img id="redLed" src="/assets/redLedOff.jpg" width="200px">
                </div>
            </div>

            <!-- Carrito dentro del autolavado -->
            <div class="car-container">
                <!-- Fase de lavado. Estado azul -->
                <div class="slider-container">
                    <input type="range" min="0" max="11" class="slider"
                        [ngClass]="{'no-image': calculateSliderValue().ultra1Value == 111}"
                        [value]="calculateSliderValue().ultra1Value"> <!-- Aquí había un "disabled" y el ultra1Value era 11, no 111" -->
                    <!-- Le cambié nada más para que tengas algo visual y puedas moverle al css -->
                </div>
                <!-- Fase de enjuague. Estado verde -->
                <div class="slider-container">
                    <input type="range" min="0" max="11" class="slider"
                        [ngClass]="{'no-image': calculateSliderValue().ultra2Value == 111}"
                        [value]="calculateSliderValue().ultra2Value"> <!-- Aquí había un "disabled" y el ultra1Value era 11, no 111" -->
                    <!-- Le cambié nada más para que tengas algo visual y puedas moverle al css -->
                </div>
                <!-- Fase de secado. Estado rojo -->
                <div class="slider-container">
                    <input type="range" min="0" max="11" class="slider"
                        [ngClass]="{'no-image': calculateSliderValue().ultra3Value == 111}"
                        [value]="calculateSliderValue().ultra3Value"> <!-- Aquí había un "disabled" y el ultra1Value era 11, no 111" -->
                    <!-- Le cambié nada más para que tengas algo visual y puedas moverle al css -->
                </div>
            </div>

            <!-- Impresión de los valores de distancia en la interfaz -->
            <div class="ultrasonico-container ultrasonico">
                <div *ngFor="let ultrasonico of ultrasonicos" class="ultrasonico-container">
                    <div class="ultrasonico-{{ ultrasonico.elemento }}">
                        <div class="ultrasonico-label">{{ ultrasonico.estado }} cm</div>
                        <img src="/assets/ultrasonico.png" width="200px">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <p>Elaborado por José Eduardo Chávez Moreno y Jorge Christian Serrano Puertos - TIDSM 5B</p>
    </footer>
</main>